# Heading1

## Heading2

### Heading3

# **Start**

In [3]:
# Declare Variables
a = 5
b = 10.0
c = 'Machine Learning'
d = True

In [5]:
print(c)
print(b)

Machine Learning
10.0

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Arthmetic Operators

In [7]:
# +, -, *, /, //, **, %

print(a+b)

15.0

In [12]:
a*b

50.0

In [13]:
a-b

-5.0

In [14]:
b/a

2.0

In [18]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [20]:
print(2**10) # ---> pow(2, 10)
print(2**4)

1024
16

In [22]:
print(13%2)
print(73%10)

1
3

In [24]:
25**0.5

5.0

### Logical Operators

**and, or, not**

In [31]:
rainy = True
temp = 35

In [32]:
playing = temp < 40 and not rainy
print(playing)

False

In [39]:
a = int(input())

50

In [ ]:
print(a)
# a = float(a)
print(type(a))

## if_else

In [44]:
a = int(input("Enter a number = "))

if a%2 == 0:
    print(f"{a} is even")
else :
    print(f"{a} is odd")

Enter a number = 15
15 is odd

In [45]:
# if :
#     statements
# elif:
#     statements
# elif :
#     statements
# else:
#     statements

In [48]:
a = int(input("Enter a number = "))

if a%3 == 0 :
    print("Zero")
elif a%3 == 1:
    print("One")
else:
    print("Two")

Enter a number = 5
Two

## loops

**for, while**

In [51]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
print(list(range(3, 10)))

[3, 4, 5, 6, 7, 8, 9]

In [55]:
print(list(range(0, 10, 2)))

[0, 2, 4, 6, 8]

In [57]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [58]:
i = 1

while i < 7:
    print(i)
    i += 1

1
2
3
4
5
6

In [76]:
# prime or not
num = int(input("Enter a Number = "))

# count = 0
flag = True
for i in range(2,num//2 + 1):
#     count += 1
    if num%i == 0:
        flag = False
        break

# print(count)
if flag == True :
    print("prime")
else :
    print("Not prime")

Enter a Number = 100
Not prime

In [79]:
# power of number till 10

num = int(input("Enter a Number = "))

for i in range(1, 11):
    print(f"{num} power {i} = {num**i}")

Enter a Number = 2
2 power 1 = 2
2 power 2 = 4
2 power 3 = 8
2 power 4 = 16
2 power 5 = 32
2 power 6 = 64
2 power 7 = 128
2 power 8 = 256
2 power 9 = 512
2 power 10 = 1024

In [82]:
for i in range(20, 1, -2):
    print(i)

20
18
16
14
12
10
8
6
4
2

## Functions

In [85]:
"""
def fun_name(par, par) :
    statements
    
    return _____
"""

# multiline comment

'\ndef fun_name(par, par) :\n    statements\n    \n    return _____\n'

In [86]:
def Hello():
    print("Hello World!!")

In [87]:
Hello()

Hello World!!

In [91]:
def add_num(a, b):
    return a+b

In [92]:
sum = add_num(5, 7)
print(sum)

12

In [93]:
print(add_num(10, 5))

15

In [97]:
def sum_till_num(num):
    sum = 0
    for i in range(1, num+1):
        sum += i
    
    return sum

In [98]:
print(sum_till_num(10))

55

In [99]:
print(sum_till_num(5))

15

In [100]:
# reccursion

In [101]:
def sum_till_num_rec(num):
    if num == 1 or num == 0:
        return num;
    
    sum = sum_till_num_rec(num-1)
    
    return sum + num

In [103]:
sum_till_num_rec(5)

15

In [104]:
def fact(n):
    if n==0 or n==1:
        return 1
    
    res_fact = fact(n-1)
    
    return n*res_fact

In [105]:
fact(5)

120

In [114]:
def fibo(n):
    if n == 1 or n == 0:
        return n
    
    fib_n1 = fibo(n-1)
    fib_n2 = fibo(n-2)
    
    return fib_n1 + fib_n2

In [116]:
# 0 1 1 2 3 5 8 13 21

In [118]:
fibo(10)

55

## Strings

In [119]:
a = "hello"

In [131]:
print(a)
print(type(a))

hello
<class 'str'>

In [121]:
for i in a:
    print(i)

h
e
l
l
o

In [122]:
len(a)

5

In [134]:
for i in range(len(a)):
    print(a[i])

h
e
l
l
o

In [ ]:
b = input().strip()

In [129]:
print(b)

xyz

In [127]:
print(b.strip())

xyz

## Datatypes

### tuples
### list --> array
### set
### dic

# Tuples

In [135]:
a = tuple([1,2,3,4,5,"asadzxc"])

In [136]:
print(a)

(1, 2, 3, 4, 5, 'asadzxc')

In [137]:
for i in a:
    print(i)

1
2
3
4
5
asadzxc

In [138]:
a[4] = 100

TypeError: 'tuple' object does not support item assignment

In [139]:
a = (1,2,3,4,5)
a

(1, 2, 3, 4, 5)

In [140]:
b = (2,3,4,5,6)
b

(2, 3, 4, 5, 6)

In [141]:
a+b

(1, 2, 3, 4, 5, 2, 3, 4, 5, 6)

In [142]:
a[4]

5

## List --> Array

In [143]:
a = list([1,2,3,4,5,6])

In [144]:
a

[1, 2, 3, 4, 5, 6]

In [145]:
for i in a:
    print(i)

1
2
3
4
5
6

In [146]:
len(a)

6

In [147]:
max(a)

6

In [148]:
min(a)

1

In [149]:
a

[1, 2, 3, 4, 5, 6]

In [150]:
for i in range(len(a)):
    a[i] += 5
    
a

[6, 7, 8, 9, 10, 11]

In [151]:
a[3] = 100

In [152]:
a

[6, 7, 8, 100, 10, 11]

In [157]:
b = [1,2,3,4,5,6]
b

[1, 2, 3, 4, 5, 6]

In [158]:
type(b)

list

In [159]:
# List comprehension
b = [i+5 for i in b]
b

[6, 7, 8, 9, 10, 11]

In [168]:
c = [11, 2, 3, 45, 40]

In [169]:
c

[11, 2, 3, 45, 40]

In [170]:
c = sorted(c)
c

[2, 3, 11, 40, 45]

In [171]:
c = sorted(c, reverse = True)
c

[45, 40, 11, 3, 2]

In [172]:
c.append(555)
c

[45, 40, 11, 3, 2, 555]

## sets

In [174]:
a = set([1,2,3,4,5,1,1,1,1,1,2,3,4,5,2,3,2])
a

{1, 2, 3, 4, 5}

In [175]:
b = {1,2,3,4,5,1,1,1,1,1,2,3,4,5,2,3,2}
b

{1, 2, 3, 4, 5}

In [176]:
for i in a:
    print(i)

1
2
3
4
5

## Dict.

In [177]:
a = {"apple" : 100,
    "banana" : 80,
    "mango" : 70}

In [178]:
a

{'apple': 100, 'banana': 80, 'mango': 70}

In [179]:
a.keys()

dict_keys(['apple', 'banana', 'mango'])

In [180]:
a.values()

dict_values([100, 80, 70])

In [181]:
a.items()

dict_items([('apple', 100), ('banana', 80), ('mango', 70)])

In [182]:
for i in a.keys():
    print(a[i])

100
80
70

In [183]:
a["banana"]

80

In [184]:
a["pineapple"] = 150

In [185]:
a

{'apple': 100, 'banana': 80, 'mango': 70, 'pineapple': 150}

In [186]:
a = "hello"
a

'hello'

In [192]:
a = list(a)
a

['h', ' ', 'e', ' ', 'L', ' ', 'L', ' ', 'o']

In [193]:
for i in range(len(a)):
    if a[i] == 'l':
        a[i] = 'L'

In [194]:
a

['h', ' ', 'e', ' ', 'L', ' ', 'L', ' ', 'o']

In [196]:
a = ''.join(a)
a

'h e L L o'