# Heading1

## Heading2

### Heading3

# **Start**

In [1]:
# Declare Variables
a = 5
b = 10.0
c = 'Machine Learning'
d = True

In [2]:
print(c)
print(b)

Machine Learning
10.0

In [3]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Arthmetic Operators

In [4]:
# +, -, *, /, //, **, %

print(a+b)

15.0

In [5]:
a*b

50.0

In [6]:
a-b

-5.0

In [7]:
b/a

2.0

In [8]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [9]:
print(2**10) # ---> pow(2, 10)
print(2**4)

1024
16

In [10]:
print(13%2)
print(73%10)

1
3

In [11]:
25**0.5

5.0

### Logical Operators

**and, or, not**

In [12]:
rainy = True
temp = 35

In [13]:
playing = temp < 40 and not rainy
print(playing)

False

In [14]:
a = int(input())

12

In [15]:
print(a)
# a = float(a)
print(type(a))

12
<class 'int'>

## if_else

In [16]:
a = int(input("Enter a number = "))

if a%2 == 0:
    print(f"{a} is even")
else :
    print(f"{a} is odd")

Enter a number = 12
12 is even

In [17]:
# if :
#     statements
# elif:
#     statements
# elif :
#     statements
# else:
#     statements

In [18]:
a = int(input("Enter a number = "))

if a%3 == 0 :
    print("Zero")
elif a%3 == 1:
    print("One")
else:
    print("Two")

Enter a number = 15
Zero

## loops

**for, while**

In [19]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
print(list(range(3, 10)))

[3, 4, 5, 6, 7, 8, 9]

In [21]:
print(list(range(0, 10, 2)))

[0, 2, 4, 6, 8]

In [22]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [23]:
i = 1

while i < 7:
    print(i)
    i += 1

1
2
3
4
5
6

In [24]:
# prime or not
num = int(input("Enter a Number = "))

# count = 0
flag = True
for i in range(2,num//2 + 1):
#     count += 1
    if num%i == 0:
        flag = False
        break

# print(count)
if flag == True :
    print("prime")
else :
    print("Not prime")

Enter a Number = 15
Not prime

In [25]:
# power of number till 10

num = int(input("Enter a Number = "))

for i in range(1, 11):
    print(f"{num} power {i} = {num**i}")

Enter a Number = 123
123 power 1 = 123
123 power 2 = 15129
123 power 3 = 1860867
123 power 4 = 228886641
123 power 5 = 28153056843
123 power 6 = 3462825991689
123 power 7 = 425927596977747
123 power 8 = 52389094428262881
123 power 9 = 6443858614676334363
123 power 10 = 792594609605189126649

In [26]:
for i in range(20, 1, -2):
    print(i)

20
18
16
14
12
10
8
6
4
2

## Functions

In [27]:
"""
def fun_name(par, par) :
    statements
    
    return _____
"""

# multiline comment

'\ndef fun_name(par, par) :\n    statements\n    \n    return _____\n'

In [28]:
def Hello():
    print("Hello World!!")

In [29]:
Hello()

Hello World!!

In [30]:
def add_num(a, b):
    return a+b

In [31]:
sum = add_num(5, 7)
print(sum)

12

In [32]:
print(add_num(10, 5))

15

In [33]:
def sum_till_num(num):
    sum = 0
    for i in range(1, num+1):
        sum += i
    
    return sum

In [34]:
print(sum_till_num(10))

55

In [35]:
print(sum_till_num(5))

15

In [36]:
# reccursion

In [37]:
def sum_till_num_rec(num):
    if num == 1 or num == 0:
        return num;
    
    sum = sum_till_num_rec(num-1)
    
    return sum + num

In [38]:
sum_till_num_rec(5)

15

In [39]:
def fact(n):
    if n==0 or n==1:
        return 1
    
    res_fact = fact(n-1)
    
    return n*res_fact

In [40]:
fact(5)

120

In [41]:
def fibo(n):
    if n == 1 or n == 0:
        return n
    
    fib_n1 = fibo(n-1)
    fib_n2 = fibo(n-2)
    
    return fib_n1 + fib_n2

In [42]:
# 0 1 1 2 3 5 8 13 21

In [43]:
fibo(10)

55

## Strings

In [44]:
a = "hello"

In [45]:
print(a)
print(type(a))

hello
<class 'str'>

In [46]:
for i in a:
    print(i)

h
e
l
l
o

In [47]:
len(a)

5

In [48]:
for i in range(len(a)):
    print(a[i])

h
e
l
l
o

In [49]:
b = input().strip()

hello

In [50]:
print(b)

hello

In [51]:
print(b.strip())

hello

## Datatypes

### tuples
### list --> array
### set
### dic

# Tuples

In [52]:
a = tuple([1,2,3,4,5,"asadzxc"])

In [53]:
print(a)

(1, 2, 3, 4, 5, 'asadzxc')

In [54]:
for i in a:
    print(i)

1
2
3
4
5
asadzxc

In [55]:
a[4] = 100

TypeError: 'tuple' object does not support item assignment

In [56]:
a = (1,2,3,4,5)
a

(1, 2, 3, 4, 5)

In [57]:
b = (2,3,4,5,6)
b

(2, 3, 4, 5, 6)

In [58]:
a+b

(1, 2, 3, 4, 5, 2, 3, 4, 5, 6)

In [59]:
a[4]

5

## List --> Array

In [60]:
a = list([1,2,3,4,5,6])

In [61]:
a

[1, 2, 3, 4, 5, 6]

In [62]:
for i in a:
    print(i)

1
2
3
4
5
6

In [63]:
len(a)

6

In [64]:
max(a)

6

In [65]:
min(a)

1

In [66]:
a

[1, 2, 3, 4, 5, 6]

In [67]:
for i in range(len(a)):
    a[i] += 5
    
a

[6, 7, 8, 9, 10, 11]

In [68]:
a[3] = 100

In [69]:
a

[6, 7, 8, 100, 10, 11]

In [70]:
b = [1,2,3,4,5,6]
b

[1, 2, 3, 4, 5, 6]

In [71]:
type(b)

list

In [72]:
# List comprehension
b = [i+5 for i in b]
b

[6, 7, 8, 9, 10, 11]

In [73]:
c = [11, 2, 3, 45, 40]

In [74]:
c

[11, 2, 3, 45, 40]

In [75]:
c = sorted(c)
c

[2, 3, 11, 40, 45]

In [76]:
c = sorted(c, reverse = True)
c

[45, 40, 11, 3, 2]

In [77]:
c.append(555)
c

[45, 40, 11, 3, 2, 555]

## sets

In [78]:
a = set([1,2,3,4,5,1,1,1,1,1,2,3,4,5,2,3,2])
a

{1, 2, 3, 4, 5}

In [79]:
b = {1,2,3,4,5,1,1,1,1,1,2,3,4,5,2,3,2}
b

{1, 2, 3, 4, 5}

In [80]:
for i in a:
    print(i)

1
2
3
4
5

## Dict.

In [81]:
a = {"apple" : 100,
    "banana" : 80,
    "mango" : 70}

In [82]:
a

{'apple': 100, 'banana': 80, 'mango': 70}

In [83]:
a.keys()

dict_keys(['apple', 'banana', 'mango'])

In [84]:
a.values()

dict_values([100, 80, 70])

In [85]:
a.items()

dict_items([('apple', 100), ('banana', 80), ('mango', 70)])

In [86]:
for i in a.keys():
    print(a[i])

100
80
70

In [87]:
a["banana"]

80

In [88]:
a["pineapple"] = 150

In [89]:
a

{'apple': 100, 'banana': 80, 'mango': 70, 'pineapple': 150}

In [90]:
a = "hello"
a

'hello'

In [91]:
a = list(a)
a

['h', 'e', 'l', 'l', 'o']

In [92]:
for i in range(len(a)):
    if a[i] == 'l':
        a[i] = 'L'

In [93]:
a

['h', 'e', 'L', 'L', 'o']

In [94]:
a = ''.join(a)
a

'heLLo'

## Slicing

In [95]:
a = "racecar"

In [96]:
a[3]

'e'

In [97]:
a[-1]

'r'

In [100]:
b = list(a)
b

['r', 'a', 'c', 'e', 'c', 'a', 'r']

In [101]:
c = "hey there"
c.split()

['hey', 'there']

In [102]:
a[1:]

'acecar'

In [103]:
a[:-1]

'raceca'

In [104]:
a

'racecar'

In [105]:
a[2:5]

'cec'

In [106]:
l1 = list(range(10))
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
l1[2:8]

[2, 3, 4, 5, 6, 7]

In [108]:
l1[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [112]:
a[::-1]

'racecar'

In [115]:
def is_palin(s):
    print(s)
    print(s[::-1])
    return s == s[::-1]

In [116]:
is_palin("wow")

wow
wow

True

In [117]:
is_palin("delhi")

delhi
ihled

False